* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", serif;
  font-optical-sizing: auto;
  font-style: normal;
  scroll-behavior: smooth;
}

h1 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}